<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript" src="../../js/flexible.js"></script>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../fonts/iconfont.css" />
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>

	<body>

		
						<div class="error" id="error" style="display: block;"><img src="../../img/smartinfo_meiyouneirong.png"/></div>

		
		<script src="../../js/mui.min.js"></script>
		  <script src="../../js/common.js"></script>
		<script type="text/javascript">
			mui.init();

			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
//			function pullupRefresh() {
//				setTimeout(function() {
//					mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 0)); //参数为true代表没有更多数据了。
//					var table = document.body.querySelector('.card-list');
//
//					for(var i = 0; i < 10; i++) {
//						var li = document.createElement('div');
//						li.className = 'mui-card';
//						li.innerHTML = '<div data-href="./topcolumnD.html" data-id="1" onclick="toUrl(this)" class="mui-card-header mui-card-media" style="height:40vw;background-image:url(http://www.dcloud.io/hellomui/images/cbd.jpg)"></div>' +
//							'<div class="mui-card-footer">' +
//							'<a class="mui-card-link">这是标题标题</a>' +
//							'<a class="mui-card-link">10111<span class="mui-icon  iconfont icon-shoucang"></span></a>' +
//							'</div>';
//						table.appendChild(li);
//					}
//				}, 1500);
//			}
	
		</script>
	</body>

</html>