<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript" src="../../js/flexible.js"></script>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../fonts/iconfont.css" />
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>

	<body>

			<!--<div class="w-content" style="padding-top:20px;">
				<div class=" mui-input-row  mui-search" style="width: 90%;margin: 0 auto;">
					<input type="search" class="mui-input-clear" placeholder="搜索" style="background: #fff;">
	
		       	</div>-->
		
			<div id="pullrefresh" class="mui-content mui-scroll-wrapper classify-wrapper" style="padding-top: 0px;">
				<div class="mui-scroll">
					<div class="card-list">
						<div class="error" id="error" style="display: block;"><img src="../../img/smartinfo_meiyouneirong.png"/></div>

						<!--<div class="mui-card">
							<div class="mui-card-header mui-card-media" style="height:40vw;background-image:url(http://www.dcloud.io/hellomui/images/cbd.jpg)"></div>
					
							<div class="mui-card-footer">
								<a class="mui-card-link">这是标题标题</a>
								<a class="mui-card-link">10111<span class="mui-icon  iconfont icon-shoucang"></span></a>
							</div>
						</div>
						<div class="mui-card">
							<div class="mui-card-header mui-card-media" style="height:40vw;background-image:url(http://www.dcloud.io/hellomui/images/cbd.jpg)"></div>

							<div class="mui-card-footer">
								<a class="mui-card-link">这是标题标题</a>
								<a class="mui-card-link">10111<span class="mui-icon  iconfont icon-shoucang"></span></a>
							</div>
						</div>-->
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		  <script src="../../js/common.js"></script>
		<script type="text/javascript">
			mui.init();

			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
					var table = document.body.querySelector('.card-list');

					for(var i = 0; i < 10; i++) {
						var li = document.createElement('div');
						li.className = 'mui-card';
						li.innerHTML = '';
						table.appendChild(li);
					}
				}, 1500);
			}
			if(mui.os.plus) {
				mui.plusReady(function() {
					setTimeout(function() {
						mui('#pullrefresh').pullRefresh().pullupLoading();
					}, 1000);

				});
			} else {
				mui.ready(function() {
					mui('#pullrefresh').pullRefresh().pullupLoading();
				});
			}
		</script>
	</body>

</html>