<!doctype html>
<html lang="en" class="feedback">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>找回密码</title>
		<script src="html5plus://ready"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />

		<style>
         html,body,.mui-content{
         	background: #fff;
         }
         
		</style>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav w-top-bar  w-top-xfxcd">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title" id="title">找回密码</h1>
		</header>
		<div class="mui-content">
			
			<div class="reset marginT_20" >
				  <input  type="text" placeholder="请设置您的密码" />
				  <input  type="text" placeholder="请重复一次您设置的新密码" />
				  <!--<p style="margin:20px 0;font-size:16px;background: #fff;color: #000;padding: 0 15px;">
				用手机号注册或绑定过手机号的用户，可通过验证码重新设置密码。

			    </p>-->
				  <button class="login-submit post-btn">完成</button>
				
				 
			</div>
		</div>

		<script src="../../js/mui.min.js"></script>

		<script type="text/javascript">
			mui.init();
			

		 
		</script>
	</body>

</html>