<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript" src="../../js/flexible.js"></script>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" href="../../fonts/iconfont.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<style>
		html,
		body {
			background-color: #efeff4;
		}
		
		.tab-sollor {
			overflow: hidden;
			border-bottom: 1px solid #dcdcdc
		}
		
		a:hover,
		a:active {
			color: 000;
		}
		
		#sw-tab {
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			overflow-x: auto;
			height: 45px;
			line-height: 45px;
			overflow: hidden;
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
			white-space: nowrap;
			text-align: center;
			background: #fff;
		}
		
		#sw-tab a {
			flex: 1;
			display: inline-block;
			font-size: 14px;
		}
		
		#sw-tab::-webkit-scrollbar {
			display: none;
		}
		
		#sw-tab-sub {
			padding: 0;
			margin: 0;
			overflow: hidden;
		
			display: flex;
			display: -webkit-flex;
			flex-wrap: wrap;
			line-height: 35px;
			text-align: center;
			background: #fff;
			z-index: 9999;
			width: 100%;
			box-shadow: 0px 1px 3px #888888;
		}
		
		#sw-tab-sub>li {
			font-size: 12px;
			flex-basis: 20%;
		}
		
		.tab-bar {
			position: fixed;
			top: 44px;
			width: 100%;
			z-index: 99999;
		}
		/*.mui-table-view:before,
		.mui-table-view:after {
			height: 0px;
		}*/
		
		._active {
			color: #09b992 !important;
		}
	</style>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav w-top-bar  w-top-xfxcd">
			<a class="mui-icon mui-icon-left-nav mui-pull-left" onclick='bk()'></a>
			<h1 class="mui-title" id="title">党务公开</h1>
		</header>
		<div class="mui-content">
			<div class="tab-bar">

				<div class="tab-sollor">
					<div class="sw-tab " id="sw-tab">

					</div>
				</div>
				<ul class="" id="sw-tab-sub">

				</ul>
			</div>
			<div id="pullrefresh" class="mui-content mui-scroll-wrapper " style="padding-top:45px;border:none;">
				<div class="mui-scroll">
					<ul class="mui-table-view news-list" style="border:none;">
						<!--<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<img class="mui-media-object mui-pull-right" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1494222330942&di=41ec5c4cdc600b5b5ac98899975ec3e6&imgtype=0&src=http%3A%2F%2Fpic2.ooopic.com%2F12%2F49%2F54%2F03bOOOPIC3b_1024.jpg">
							<div class="mui-media-body">
								<h3>远眺</h3>
								<p class="mui-ellipsis text-hidden ">静静的看这个世界，最后终于疯了</p>
								<p class="mui-ellipsis timeform"><span>3天前</span><span style="margin-left: 15px;">XXXXXXX</span></p>
							</div>
						</a>
					</li>-->
					</ul>
				</div>
			</div>
		</div>

	</body>
	<script src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<script>
		mui.init({
			pullRefresh: {
				container: '#pullrefresh',

				up: {
					auto: true,
					contentrefresh: '正在加载...',
					callback: pullupRefresh
				}
			}
		});

		var tab = "";
		var tabSub = "";
		showCityPicker();
		document.addEventListener('DOMContentLoaded', function() {

			tab = document.getElementById('sw-tab');
			tabSub = document.getElementById('sw-tab-sub');

		})

		//获取乡镇
		var tvs = [];
		var cityData = [];

		function showCityPicker() {
		
			//var City_1={
			//  value: "",
			//  text: "",
			//	children: []
			//};

			//		 var cityPicker = new mui.PopPicker({
			//								layer: 2
			//			});
			//	var showCityPickerButton = document.getElementById('showCityPicker');
			//							var cityResult = document.getElementById('cityResult');
			//								cityPicker.show(function(items) {
			//									var children='';
			//									if(items[1].text){
			//										children= "-" + items[1].text;
			//									}
			//								cityResult.innerText =items[0].text +children;
			//								//返回 false 可以阻止选择框的关闭
			//							});

			//	cityData.push({value: data1[i]['townId'],
			//									text: data[i]['townTitle'],
			//									children: [{
			//									 value: data2[t]['townId'],
			//									 text: data2[t]['townTitle'],
			//									  }]
			//									}	)

			_ajax('/baseDataAction.action?dataType=TOWN', function(data1) {
				var linkHtml = "";
				for(var i = 0; i < data1.length; i++) {
					var fristtab = (i == 0 ? "fristtab" : "");
					var active = (i == 0 ? "_active" : "");
					linkHtml += '<a href="javascript:;" class="' + active + '"  id="' + fristtab + '" data-href="./openList.html" data-cid="' + (i) + '" data-id="' + data1[data1.length-i-1]['townId'] + '"  onclick="showV(this)">' + data1[data1.length-1-i]['townTitle'] + '</a>';
	
//					(function(i) {
//         
//						_ajax('/baseDataAction.action?dataType=VILL&townId=' + data1[i]['townId'], function(data2) {
//						   var towns = {
//						value: data1[data1.length-i-1]['townId'],
//								text: data1[data1.length-i-1]['townTitle'],
//								children: []
//				 };
//							if(data2) {
//
//								for(var t = 0; t < data2.length; t++) {
//
//									towns.children.push({
//										value: data2[t]['villId'],
//										text: data2[t]['villTitle']
//									});
//
//								}
//
//							}
//							cityData.push(towns);
//
//							//							if(i>=(data1.length - 1)) {
//							//								var linkHtml = "";
//							//								console.log("cityData----->" +data1.length);
//							//								for(var c = 0; c < cityData.length; c++) {
//							//									//						    		var a = document.createElement('a');
//							//									//						    		a.className="";
//							//									//						    		a.innerHTML=""
//							//									linkHtml += '<a href="javascript:;" id="" data-cid="' + cityData[c]['value'] + '">' + cityData[c]['text'] + '</a>'
//							//
//							//								}
//							//dom.innerHTML = linkHtml;
//							//}
//
//						})
//
//					})(i)
				}

				tab.innerHTML = linkHtml;
				mui.trigger(document.getElementById("fristtab"), 'tap');

			});

		}

		function _ajax(url, callback) {
			mui.ajax(BASEURL + url, {

				dataType: 'json', //服务器返回json格式数据
				type: 'get', //HTTP请求类型
				timeout: 10000, //超时时间设置为10秒；
				headers: {
					'Content-Type': 'application/json'
				},
				success: function(data) {

					if(data.result == "success") {
						callback(data.data);

					} else if(data.result == "fail") {
						//						mui.toast(data.msg, {
						//							duration: 'long',
						//							type: 'div'
						//						});
						callback(false);
					}

				},
				error: function(xhr, type, errorThrown) {
					//异常处理；
					console.log(type);
				}
			});
		}

		var towId = "";
		var villId = "";
		var page = 1;
		var ws = null;
		var cid = 0;
		var postdata = "";
		var isShowV = true;
		var istab = "";

		function showV(_this) {
			var list = "";
			
			mui('#sw-tab a').each(function(i, item) {

				item.className = "";
			})
			//pushUrl(ws, './openList.html', 95, 0);
			_this.className = "_active";
			var id = _this.getAttribute('data-cid');
			towId = _this.getAttribute('data-id');
		//	var children = cityData[id]['children'];
			//console.log(JSON.stringify(cityData));
//			if(children.length > 0) {
//				for(var i = 0; i < children.length; i++) {
//					list += '<li data-vid="' + children[i]['value'] + '"  onclick="selectV(this)">' + children[i]['text'] + '</li>';
//
//				}
//				document.getElementById('sw-tab-sub').innerHTML = list;
//				document.getElementById('sw-tab-sub').style.opacity = 1;
//
//			}

	if(istab == towId) {
			//alert(isShowV);
				if(isShowV) {
					 document.getElementById('sw-tab-sub').style.display = 'none';

				} else {
					document.getElementById('sw-tab-sub').style.display = 'flex';
				}
	          return isShowV = !isShowV;
			}
         	_ajax('/baseDataAction.action?dataType=VILL&townId=' + towId, function(data2) {
				
							if(data2) {

								for(var i = 0; i < data2.length; i++) {

							list += '<li data-vid="' + data2[i]['villId'] + '"  onclick="selectV(this)">' + data2[i]['villTitle'] + '</li>';

								}

							}
							document.getElementById('sw-tab-sub').innerHTML = list;
	 document.getElementById('sw-tab-sub').style.display = 'flex';
	console.log("towId---------->" + towId);

			postdata = ""
//				if(istab!="first"){
				setRefresh();
//			}
			istab = towId;
					
						})

		

		

		}

		function selectV(_this) {
			isShowV = !isShowV;
			var id = _this.getAttribute('data-vid');
			villId = id;
		 document.getElementById('sw-tab-sub').style.display = 'none';
			document.getElementById('sw-tab-sub').innerHTML = "";
		   istab = "";
			console.log("villId----->" + villId);
			console.log("towId----->" + towId);
			postdata = "&villId=" + villId;
			setRefresh();
		}

		function setRefresh() {
			page = 1;
			var table = document.body.querySelector('.news-list');
			table.innerHTML = "";
			mui('#pullrefresh').pullRefresh().refresh(true);
			pullupRefresh();

		}

		function pullupRefresh() {
			console.log("/newsAction.action?affType=D&townId=" + towId + postdata + "&pageno=" + page);
			mui.ajax(BASEURL + "/newsAction.action?affType=D&townId=" + towId + postdata + "&pageno=" + page, {

				dataType: 'json', //服务器返回json格式数据
				type: 'get', //HTTP请求类型
				timeout: 10000, //超时时间设置为10秒；
				headers: {
					'Content-Type': 'application/json'
				},
				success: function(data) {
					if(data.result == "success") {

						mui('#pullrefresh').pullRefresh().endPullupToRefresh(++page > data.maxpage);
						var data = data.data;
						//参数为true代表没有更多数据了。
						var table = document.body.querySelector('.news-list');

						for(var i = 0; i < data.length; i++) {
							var li = document.createElement('li');
							li.className = 'mui-table-view-cell mui-media';
							li.innerHTML = '<a href="javascript:;" data-href="./openD.html"  data-type="' + data[i]['infoMarked'] + '" data-id="' + data[i]['infoId'] + '" onclick="toUrl(this)">' +
							//	'<img class="mui-media-object mui-pull-right" src="' + ROOTURL + data[i]['infoAnnex'] + '">' +
								'<div class="mui-media-body">' +
								'<h3>' + data[i]['infoTitle'] + '</h3>' +
								'<p class="mui-ellipsis text-hidden ">' + data[i]['infoDescription'] + '</p>' +
								'<p class="mui-ellipsis timeform"><span>' + (new Date(data[i]['createDate']).Format("yyyy-MM-dd hh:mm:ss")) + '</span><span style="margin-left: 15px;">' + (data[i]['villTitle'] ? data[i]['villTitle'] : "") + '</span></p>' +
								'</div>' +
								'</a>';
							table.appendChild(li);
						}

					} else if(data.result == "fail") {
						//									mui.toast(data.msg, {
						//										duration: 'long',
						//										type: 'div'
						//									});
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(true)
					}
				},
				error: function(xhr, type, errorThrown) {
					//异常处理；
					console.log(type);
					mui('#pullrefresh').pullRefresh().endPullupToRefresh(true)
				}
			});

		}
	</script>

</html>