<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" href="../../fonts/iconfont.css" />
		<link rel="stylesheet" href="../../css/style.css" />
  <style>

 .inputs input{
 	padding-left: 15px;
 }
  
  </style>
	</head>

	<body>
<header id="header" class="mui-bar mui-bar-nav w-top-bar  w-top-xfxcd">
			<a class="mui-icon mui-icon-left-nav mui-pull-left" onclick='bk()'></a>
			<h1 class="mui-title" id="title">修改密码</h1>
		</header>
		<div class="mui-content">
		
			<div class="login-form" style="margin-top: 15px;">
				<form>
					<div class="inputs">
						<div class="input-group bottom-line">
							<input type="text" placeholder="当前密码"  class="input-text" id="oldPassword"/>
							
						</div>
						<div class="input-group bottom-line">
							<input type="password" placeholder="请输入新密码" id="newPassword" class="input-password mui-input-password"/>
						   
						</div>
						<div class="input-group">
							<input type="password" placeholder="请确认新密码"   id="confirmPassword"/>
							
						</div>
					</div>
					<a class="login-submit post-btn" href="javascript:;" onclick="updatePassword()">确认修改</a>
				</form>
				<!--<div class="login-link">
					  <p class="mui-clearfix">
					  	<a href="javascript:;" class="mui-pull-left"  onclick="toUrl(this)" data-href="../ResetPassword/resetPassword.html">忘记密码？</a>
					     <a href="javascript:;" class="mui-pull-right"  onclick="toUrl(this)" data-href="../Register/register.html">新用户注册</a>
					  </p>
					  <!--<p >
					   <a href="javascript:;" class="mui-pull-right">随便看看</a>
					  </p>
				</div>-->
			</div>
			
		</div>

	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/common.js"></script>
	<script>
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
		
		function updatePassword(){
				var user=isLogin();
				
				var oldPassword=document.getElementById('oldPassword').value;
				var newPassword=document.getElementById('newPassword').value;
				var confirmPassword=document.getElementById('confirmPassword').value;
				if(oldPassword===""){
				  return	mui.toast("当前密码不能为空", {
							duration: 'long',
							type: 'div'
						});
				}
				if(newPassword===""){
				 
				   return	mui.toast("新密码不能为空", {
							duration: 'long',
							type: 'div'
						});
				}
				if(confirmPassword!=newPassword){
				  return mui.toast("两次密码输入不一致", {
							duration: 'long',
							type: 'div'
						});
				}
				if(user){
					if(oldPassword!=user.pinfoPwd){
					return	mui.toast("当前密码错误", {
							duration: 'long',
							type: 'div'
						});
					}
				}else{
					return mui.toast("未登录，请登录", {
							duration: 'long',
							type: 'div'
						});
				}
				mui.ajax(ROOTURL + "/sysLogin.action?updateAppPassword=&pinfoId="+user.pinfoId+"&userNewpwd="+newPassword, {

				dataType: 'json', //服务器返回json格式数据
				type: 'get', //HTTP请求类型
				timeout: 10000, //超时时间设置为10秒；
				headers: {
					'Content-Type': 'application/json'
				},
				success: function(data) {
					console.log(JSON.stringify(data));
					if(data.result == "success") {
                       mui.toast("修改成功", {
							duration: 'long',
							type: 'div'
						});
					  
					   user=getLocalStorage("user");
					   user.pinfoPwd=newPassword;
					   setLocalStorage("user",user);
                       plus.webview.getWebviewById('./view/Me/me.html').reload();
                       plus.webview.currentWebview().close();
					} else if(data.result == "fail") {
						mui.toast(data.msg, {
							duration: 'long',
							type: 'div'
						});
					
					}
				},
				error: function(xhr, type, errorThrown) {
					//异常处理；
					console.log(type);
				}
			});
    
			}
			
	</script>

</html>