<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		

		<script type="text/javascript" src="../../js/flexible.js"></script>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../fonts/iconfont.css" />
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<style>
			html,
			body {
				background-color: #f4f4f4;
			}
		</style>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav w-top-bar">

			<!--<a class="mui-btn   mui-pull-right weather-btn">
				 多云 17&#8451;
			</a>-->

			<div class="mui-collapse mui-pull-left drop" id="drop">

				<a class="mui-push-right pull-logo" href="#">智慧乡村</a>

			</div>
		</header>
		<div class="w-content" style="padding-top: 44px;">
			<div class="xfxc" id="xfxc">
				<ul class="grid grid-3">
					<li onclick="toUrl(this)" data-href="../TopColumn/topcolumn.html">
						<div class="top-bgimg"><img src="img/xfxc_xclp.png" /></div>
						<p class="bottom-title">淘乡味</p>
					</li>
					</li>

					<li onclick="toUrl(this)" data-href="../TopColumn_1/topcolumn.html">
						<div class="top-bgimg"><img src="img/xfxc_mlcz.png" /></div>
						<p class="bottom-title">魅力村庄</p>
					</li>
					<!--<li>
						<div class="top-bgimg"><img src="img/xfxc_whlt.png" /></div>
						<p class="bottom-title">乡村民宿</p>
					</li>-->
				</ul>
			</div>

			<div class="mui-slider w-slider">
				<div class="mui-slider-group">

					<!--<div class="mui-slider-item">
						<a href="#"><img src="http://img06.tooopen.com/images/20170321/tooopen_sy_202673188311.jpg" /></a>
					</div>-->

				</div>
				<div class="mui-slider-indicator">

				</div>
			</div>
			<div class="column-list">
				<ul class="grid grid-4">

					<li onclick="toUrl(this)" data-href="../ZwO/open.html">
						<img src="img/zwo.png" class="item-img" />
						<p class="item-text">政务公开</p>
					</li>
					<li onclick="toUrl(this)" data-href="../DwO/open.html">
						<img src="img/dwo.png" class="item-img" />
						<p class="item-text">党务公开</p>
					</li>
					<li onclick="toUrl(this)" data-href="../CwO/open.html">
						<img src="img/cwo.png" class="item-img" />
						<p class="item-text">财务公开</p>
					</li>
					<li onclick="toUrl(this)" data-href="../Notice/notice.html">
						<img src="img/tzgg.png" class="item-img" />
						<p class="item-text">通知公告</p>
					</li>
					<li onclick="toUrl(this)" data-href="../News/news.html">
						<img src="img/news.png" class="item-img" />
						<p class="item-text">热点新闻</p>
					</li>
					<li onclick="toUrl(this)" data-href="../Llb/topcolumn.html">
						<img src="img/xfxc_llb.png" class="item-img" />
						<p class="item-text">邻里帮</p>
					</li>

					<!--<li onclick="toUrl(this)" data-href ="../SwOpen/swopen.html">
						<img src="img/xfxc_shfw.png" class="item-img" />
						<p class="item-text">三务公开</p>
					</li>-->

					<li onclick="toUrl(this)" data-href="../HmService/hmservice.html">
						<img src="img/xfxc_xcyl.png" class="item-img" />
						<p class="item-text">惠民服务</p>
					</li>
					<li onclick="toUrl(this)" data-href="../TopColumn_2/topcolumn.html">
						<img src="img/xfxc_xcms.png" class="item-img" />
						<p class="item-text">乡村民宿</p>
					</li>
					<!--<li onclick="toUrl(this)" data-href="../AddressList/addressList.html">
						<img src="img/btn_tab_addlist_p.png" class="item-img" />
						<p class="item-text">我的村谱</p>
					</li>-->
					<!--<li>
						<img src="img/xfxc_xytj.png" class="item-img" />
						<p class="item-text">i旅游</p>
					</li>
					<li>
						<img src="img/xfxc_qmjr.png" class="item-img" />
						<p class="item-text">亲民金融</p>
					</li>
					<li>
						<img src="img/xfxc_jyzp.png" class="item-img" />
						<p class="item-text">就业招聘</p>
					</li>
					<li>
						<img src="img/xfxc_xytj.png" class="item-img" />
						<p class="item-text">乡间建筑</p>
					</li>
					
					<li>
						<img src="img/xfxc_llb.png" class="item-img" />
						<p class="item-text">邻里帮</p>
					</li>
					<li>
						<img src="img/xfxc_zfj.png" class="item-img" />
						<p class="item-text">致富经</p>
					</li>
					<li>
						<img src="img/xfxc_gd.png" class="item-img" />
						<p class="item-text">更多</p>
					</li>-->
				</ul>
			</div>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<script>
		mui.init({
			swipeBack: false //启用右滑关闭功能
		});
		mui.plusReady(function() {
			mui('.mui-slider').slider({
				interval: 3000 //自动轮播周期，若为0则不自动播放，默认为0；
			});

		})
		document.addEventListener('DOMContentLoaded', function() {
			mui('.mui-slider').slider({
				interval: 3000 //自动轮播周期，若为0则不自动播放，默认为0；
			});
			mui.ajax(BASEURL + "/newsAction.action?affType=HI", {
				dataType: 'json', //服务器返回json格式数据
				type: 'get', //HTTP请求类型
				timeout: 10000, //超时时间设置为10秒；
				headers: {
					'Content-Type': 'application/json'
				},
				success: function(data) {
					if(data.result == "success") {
						var data = data.data;
						//参数为true代表没有更多数据了。
						var htmlImg = "";
						var itemCHtml = "";
						var siderC = document.body.querySelector('.mui-slider-indicator');
						var table = document.body.querySelector('.mui-slider-group');
						for(var t = 0; t < data.length; t++) {
							var item = document.createElement('div');

							item.className = 'mui-slider-item';
							item.innerHTML = '<a href="javascript:;" data-href="./newsD.html" data-id="' + data[t]['lpIds'] + '" onclick="toUrl(this)">' +
								'<img src="' + ROOTURL + data[t]['lpUri'] + '">' +

								'</a>';
							if(t == 0) {
								itemCHtml += '<div class="mui-indicator mui-active"></div>'
							} else {
								itemCHtml += '<div class="mui-indicator"></div>'
							}
							table.appendChild(item);
						}

						siderC.innerHTML = itemCHtml;
					}
				}
			})
		})
	</script>

</html>